@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-sky-100 text-sky-950;
}

a {
  @apply text-sky-500;
}

ul {
  @apply list-disc ml-6;
}

/* TODO:change to tailwind */
.skill-per {
  position: relative;
  display: block;
  height: 100%;
  width: 80%;
  border-radius: 6px;
  animation: progress 0.4s ease-in-out forwards;
  opacity: 0;
  @apply bg-sky-500;
}

/* TODO:change to tailwind */
.skill-per .html {
  width: 75%;
  animation-delay: 0.1s;
}

/* TODO:change to tailwind */
@keyframes progress {
  0% {
    width: 0;
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

/* TODO:change to tailwind */

/* TODO:change to tailwind */

@layer components {
  .btn-sky {
    @apply py-2 px-4 bg-sky-500 rounded shadow;
  }

  .btn-sky:hover {
    @apply bg-sky-400;
  }
}